*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.App{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: beige;
    position: relative;
}
.modal{
    width: 500px;
    background-color: black;
    border: 1ps solid black;
    position: absolute;
    left: 30%;
    top: -350px;
    opacity: 1;
    text-align: center;
    color: #fff;
    transition: 1s;
    padding-bottom: 25px;
}

.modalVisible{
    top: 0;
    transition: 1s;
}
.message{
    color: red;
    animation: anime 1s linear infinite;
}

@keyframes anime {
    0%{
        color: red;
    }
    50%{
        color: black;
    }
    100%{
        color:red;
    }
}
input{
    width: 90%;
    height: 35px;
    border-radius: 25px;
    outline: none;
    border: 1px solid rgb(0, 153, 255);
    margin: 5px;
    text-align: center;
    padding: 5px;
}

input:hover{
    outline: 1px solid rgb(0, 153, 255);
}
.btn-ajout{
    color: white;
    font-size: 16px;
    background-color: rgb(41, 41, 230);
    border-radius: 25px;
    border: none;
    margin-bottom: 15px;
    width: 150px;
    padding: 5px;

}
.btn-ajout:hover{
    outline:2px solid rgb(45, 93, 252);
    transition: 0.5s linear;

}
.contente-avis{
    margin: auto;
    width: 90%;
    height: 35px;
    display: flex;
    text-align: center;
}

.btn-avis{
    width: calc(100%/2);
    height: 35px;
    border-radius: 25px;
    outline: none;
    border: 1px solid rgb(0, 153, 255);
    margin: 5px;
    text-align: center;
    padding: 5px;
}
.header{
    width: 100%;
    height: 50px;
    color: white;
    background-color: black;
   
}
.container{
    height: calc(100vh - 50px);
    display: flex;
    width: 100%;
}

.liste-eleve{
    width: 70%;
    background-color: beige;
    height: 100%;
    padding: 1rem;
    
}
.info-eleve{
    width: 30%;
    background-color: aqua;
    height: 100%;
    display: flex;

}

.table-item{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid rgb(223, 241, 253);
    background-color: rgb(207, 207, 235);
    margin-bottom: 2px;

}
.box-note > h2{
    width: 100%;
}
.box-note{
    display: flex;
    flex-wrap: wrap;
}
.box1{
    width: calc(100% / 2);
}

.indice-eleve{
    width: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}
.info{
    width: calc(100% - 20px);
    padding: 5px;
    display: flex;
    justify-content: center;

 
}
.nom-eleve{
    width: 50%;
    margin: 2px;
}

.ajout-note{
    font-weight: bold;
    cursor: pointer;
    background-size: cover;
}
.info-eleve{
    display: flex;
    flex-direction: column;
}
.box{
    height: calc(100% / 3);
    border: 1px solid black;
}
.notes-eleve{
    width: 50%;

}
.notes-eleve > span{
    margin-right: 30px;
}

.box-note{
    width: 100%;
    background-color: rgb(140, 140, 145);

}
.box-moyenne-general{
    background-color: rgb(207, 207, 235);
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* tooltip */
.tooltip{
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext{
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}
.tooltip .tooltiptext::after{
    content: " ";
    position: absolute;
    top: 100%;
    left: 40%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.tooltip:hover .tooltiptext{
    visibility: visible;
}
.champs{
    width: 80%;
    height: 20px;
    border: none;
    outline: none;
    border-radius: 2px;
}
.btn-ModifierNote{
    width: 80%;
    background-color: black;
    color: white;
    border: 1px solid white;

}
.btn-note{
    width: calc(80%/2);
    height: 20px;
    border-radius: 5px;
    background-color: black;
    text-align: center;
    border: 1px solid white;
    color: #fff;
    margin: 2px;
}
.btn-sup{
    margin-left: 25px;
    font-weight: bold;
    cursor: pointer;
    color: red;
} 
.moyenne{
    margin: 0;
}
h3, h4, h2,h1{
    margin: 0;
   
}

.btn-moins{
    margin-left: 35px;
}
.saisir-index{
    width: 45%;
    height: 20px;
    border-radius: none;
}
.rang{
    width: calc(100% / 2);
    height: 50%;
    border-bottom: 1px dotted black;

}
.rang:nth-child(1){
    border-right: 1px dotted black;
    color: green;
}
.rang:nth-child(2){
    border-right: 1px dotted black;
    color: red;
}